<div style="height:70px;">
    <header>
      <span style="color:white;font-family:fantasy;margin:40px;padding-top:30px;font-size:50px">Book My Travel</span>
      <span style="float:right;color:antiquewhite">
                      <span style="padding-top:10px;float:right;margin-top:10px;"><a style="text-decoration:none;font-size:20px;margin-top:20px;color:white;padding:20px;margin-right:20px;" (click)="logout()">Logout</a></span>
                      <span style="padding-top:10px;float:right;margin-top:10px;"> <a style="text-decoration:none;font-size:20px;margin-top:20px;color:white;padding:20px;margin-right:20px;" routerLink="/MyBookings">My Bookings</a></span>
    
    
          <span style="padding-top:10px;float:right;margin-top:10px;"><a style="text-decoration:none;font-size:20px;margin-top:20px;color:white;padding:20px;margin-right:20px;" routerLink="/ViewTouristSpots">Home</a></span>
    
      </span>
    </header>
    <br>
    </div>
  
  