<div class="footer">
    <footer>
        <br /><br />
        <div style="width:100%;height:250px;">
          
        <div class="footer-class" style="width:100%">
            <div class="inner-footer">
                <div style="font-family:fantasy;font-size:50px">Book My Travel</div>
  
            </div>
            <div class="inner-footer">
                <div>Support</div>
                <div>Contact Us</div>
                <div>FAQ</div>
            </div>
            <div class="inner-footer">
                <div>About</div>
                <div>Privacy Policy</div>
                <div>Terms and Conditions</div>
                <div>Booking</div>
            </div>
            <div class="inner-footer">
                <div>Contact us </div>
                <div>Address :Bharathi Street</div>
                <div>ABC Nagar</div>
                <div>Chennai-666666</div><hr />
                <div>Email : query@bookmytravel.com</div>
            </div>
        </div>
        
      </div>
        
    <div style="text-align:center;background:#525254;color:white">
      Copyrights &copy;2023 All rights reserved | Design made by Riana<br /><br /><br />
  </div>
    </footer>
  </div>

