header {
    height: 75px;
    width: 100%;
    background: #0b114a;
    position: fixed;
}

button {
    border-radius: 3px;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial;
    font-weight: 500;
    text-align: center;
    background: darkblue;
    transition: all 0.2s;
}

.busnamestyle {
    font-size: 40px;
    font-family: cursive;
    color: darkblue;
}

a {
    text-decoration: none;
    color: darkblue;
}
td{
    width:440px;
}
button{
    cursor: pointer;
    border: none
    ;
}
