<app-adminheader></app-adminheader>
<div style="min-height: 500px;">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <div style="height:500px;margin-left: 600px;">
    
       <!-- <h1>Welcome @ViewBag.name</h1> -->
        <br /><br />
            <div >
                <span style="padding-top:10px;margin-top:10px;"><button class="w3-button w3-indigo"><a style="text-decoration:none;font-size:20px;margin-top:20px;color:white;padding:20px;margin-right:20px;" routerLink="/AdminTouristDetails">Tourism Details</a></button></span>
            <br /><br />
                <span style="padding-top:10px;margin-top:10px;margin-left:20px;"><button class="w3-button w3-indigo"><a style="text-decoration:none;font-size:20px;margin-top:20px;color:white;padding:20px;margin-right:20px;" routerLink="/ViewBusDetailsAdmin">Bus Details</a></button></span>
            <br /><br />
                <span style="padding-top:10px;margin-top:10px;"><button class="w3-button w3-indigo"><a style="text-decoration:none;font-size:20px;margin-top:20px;color:white;padding:20px;margin-right:20px;" routerLink="/AdminBookingDetails">Booking Details</a></button></span>
            </div>
        
    </div>
    
</div>
<app-adminfooter></app-adminfooter>

